.chartBox {
    margin-top: 33px;
    overflow: hidden;
    padding: 12px;
    background: white;
    border: 1px #cccccc solid;
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    height: 460px;
    .boxTitle {
        font-size: 21px;
        font-weight: bold;
        margin-top: 0;
    }
    button {
        cursor: pointer;
    }
}