<div *ngIf="data" class="chartBox">
    <p class="boxTitle">Chart:</p>
    <div>
      <ngx-charts-bubble-chart
        [view]="view"
        [scheme]="colorScheme"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [results]="data"
        xAxis="true"
        yAxis="true"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel">
      </ngx-charts-bubble-chart>
    </div>
  </div>