<div class="commands">
    <div class="box jsonDiv">
        <p class="boxTitle">JSON: <small>{{ jsonSample() }}</small> </p>
        <form [formGroup]="jsonGroup">
        <textarea id="myTextArea" type="text" formControlName="jsonInput" required></textarea>
        <div class="formResult">
            <button 
            class="cta" 
            [ngStyle]="{'opacity': jsonInputIsInvalid() ? '0.7' : '1'}"
            [disabled]="jsonInputIsInvalid()" 
            (click)="loadJson()">
            CONFIRM
        </button>
            <span style="color: red; margin-left: 10px;" *ngIf="jsonInputIsInvalid()">*{{ getJsonInputError() }}</span>
        </div>
        </form>
    </div>