.container {
    padding: 21px 0;
    width: 100%;

    .commands {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    app-json-box { width: 70%; }
    app-loader-box { width: 25%; }
    app-chart-box { width: 100%; }
}