/* You can add global styles to this file, and also import other style files */
* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
html {
    background-color: #f0f1f1;
    margin: 0;
    height: 100%;
}
body {
    background-color: #f0f1f1;
    margin: 0;
    color: #484848;
    max-width: 842px;
    margin: auto;
    height: 100%;
    box-sizing: border-box;
}

input, select, textarea, input, button {
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  -webkit-tap-highlight-color: transparent;
  appearance:none;
  outline: none;
}
textarea {
    resize: none;
}
.box {
    overflow: hidden;
    padding: 12px;
    background: white;
    border: 1px #cccccc solid;
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    min-height: 200px;
    .boxTitle {
        font-size: 21px;
        font-weight: bold;
        margin-top: 0;

        small { font-size: 14px; opacity: 0.7; }
    }
    button {
        cursor: pointer;
    }
}
.cta {
    background: rgb(90, 164, 84);
    color: white;
    border: none;
    padding: 5px;
}