<div class="box cooDiv">
    <p class="boxTitle">Coordinates:</p>
    <div class="commandsBox">
      <div class="command"><p>x: {{coordinates.x}}</p></div>
      <button [disabled]="dataIsInValid()" class="command" (click)="invertXY()">invert xy</button>
      <div class="command"><p>y: {{coordinates.y}}</p></div>
    </div>
    <button 
    [disabled]="dataIsInValid()" 
    class="command cta loadChartCta" 
    [ngStyle]="{'opacity': dataIsInValid() ? '0.7' : '1'}"
    (click)="buildDataForGraph()">
    LOAD
  </button>
  </div>