.cooDiv {

    .commandsBox {
        width: -webkit-fill-available;
        height: 128px;
        .command {
            width: 100%;
            border: 1px #cccccc solid;
            border-radius: 2px;
            margin-bottom: 12px;
            text-align: center;
            height: 21px;
            p {
                margin: 0
            }
        }
    }
    .loadChartCta {
        width: -webkit-fill-available;
    }
}